
.square{
    width: 100px;
    height: 100px;
    background: blue;
}



.outer-circle {
    background: #ffffff;
    border-radius: 50%;
    height:75px;
    width:75px;
    position: relative;
    box-shadow: 0 0 0 100px black;
    margin:180px;
}
