.jumbotron {
			background: url(images/home-background.jpg) center center no-repeat;
			background-size: cover;
			height: 300px;
			margin-bottom: 0;
		}
	
		.container {
    width:100%;
    text-align:center;
}



.container {
    width:100%;
    text-align:center;
}

.left {
    float:left;
    width:100px;
    height: 100px;
    background: #ff0000;
}

.center {
    display: inline-block;
    margin:0 auto;
    width:100px;
    height: 100px;
    background: #00ff00;
}

.right {
    float:right;
    width:100px;
    height: 100px;
    background: #0000ff;
}
