.jumbotron {
			background: url(images/home-background.jpg) center center no-repeat;
			background-size: cover;
			height: 150px;
			margin-bottom: 0;
		}
	
		.container {
    width:100%;
    text-align:center;
}



.container {
    width:100%;
    text-align:center;
}

.left {
    float:left;
    width:200px;
    height: 120px;
    background: #ff0000;
}

.center {
    display: inline-block;
    margin:0 auto;
    width:200px;
    height: 120px;
    background: #00ff00;
}

.right {
    float:right;
    width:200px;
    height: 120px;
    background: #0000ff;
}


footer {
	width: 100%;
	display: inline-block;
	text-align: center;
	float: right;
	/*height: 80px;*/
	background-color: #333333;
}
footer li{
	display: inline;
	color: white;
}
footer img{
	margin: 10px;
	width: 40px;
	margin: 2em 0;
}
