
body {
    text-align: center;
    background-color: white;
    font-family: times;
    
}
ol li {
    list-style-position: inside;
    margin: 15px;
}
.container{
    margin: 100px 100px 100px 100px;
}

.container img{
    width:100%;
    height:auto;
}
